# Different type of Data Type

In [3]:
#Numberic
# integer

a = 5
type(a)

int

In [5]:
# float

abc = 4.5

type(abc)

float

In [7]:
# boolean Type

abc = True
type(abc)

bool

In [10]:
# complex Type
x = 6+9j

print(x)

(6+9j)

In [37]:
'''Sequence Type'''

abc = "AMol"
list1 = [1,2,3,4]
range1 = range(4,11)
tuple1 = (1,2,3,10)

In [39]:
abc[0]

'A'

In [26]:
for i in range1:
    print(i)

4
5
6
7
8
9
10

In [29]:
for i in tuple1:
    print(i)

tuple1[3]

1
2
3
4

4

In [32]:
'''Set Type'''
'''Only UNIQUE VALUE'''
'''NO Order'''

set1 = {1,2,3,4}
abcSet1 = {5,8,3,1}

for i in set1:
    print(i)

1
2
3
4

In [33]:
set1 = {1,2,3,4}


set1[1]

TypeError: 'set' object is not subscriptable

In [34]:
set1[0]

TypeError: 'set' object is not subscriptable

In [47]:
'''Mapping Type'''
'''Key Value Pair'''
dictOne = {'key1': 'value1', 'key2': 'value2'}
ditTwo = {'Studen1': "Rajesh",'Student2':"AMol",'Student3':"Ashok"}

print(dictOne.keys())
print(ditTwo.keys())

print(dictOne.values())
print(ditTwo.values())

dict_values(['value1', 'value2'])
dict_values(['Rajesh', 'AMol', 'Ashok'])

In [30]:
dictOne.keys()

dict_keys(['key1', 'key2'])

In [28]:
dictOne.values()

dict_values(['value1', 'value2'])

In [48]:
dictOne.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [32]:
abc = None
print(abc)

None

In [ ]:
abc  = "Amol"

In [51]:
abcList = [1,2,3,4]
print(abcList)

[1, 2, 3, 4]

In [53]:
abcString =  "Rajesh"
string1 = "amol"
string2 = "Sunil"

print(string2)

Sunil

In [61]:
1a_ = 10

SyntaxError: invalid decimal literal (50869687.py, line 1)

In [63]:

Account_Number = 1114
Account_Number

1114

In [ ]:
INT TO STRING
INT TO FLOAT

In [69]:
abc  = 10
print(type(abc))
print(type(str(abc)))
print(type(float(abc)))

<class 'int'>
<class 'str'>
<class 'float'>

In [72]:
xyz = '10'

type(xyz)
print(int(xyz))

10