In [5]:
'''Substraction Addition Devistion Multiplication'''

x = 6
y = 3

x/y

2.0

In [15]:
x = 17
y = 3

x/y

5.666666666666667

In [14]:
'''Floor division and Exponentiation(**)'''

x = 17
y = 3

result = x // y  # result is 3 (integer division)
result

5

In [17]:
x = 2
y = 3

result = x ** y  # result is 3 (integer division)
print(result)
print(2*2*2)

8
8

In [18]:
'''Modulus (%): Returns the remainder of the division.'''
x = 10
y = 3
x/y

3.3333333333333335

In [21]:
x = 15
y = 4

result = x % y  # result is 3 (integer division)
print(result)

3

In [24]:
'''Equal to (==): Checks if two operands are equal.'''

x = 5
y = 6

print(x == y)

False

In [26]:
'''Not equal to (!=): Checks if two operands are not equal.'''
x = 5
y = 5

x != y

False

In [28]:
'''Greater than (>): Checks if the left operand is greater than the right.'''
x = 7
y = 10

x > y

False

In [30]:
'''Less than (<): Checks if the left operand is less than the right.'''

x = 11
y = 5


x < y

False

In [32]:
'''Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right.'''

x = 7
y = 7


x >= y

True

In [34]:
'''Less than or equal to (<=): Checks if the left operand is less than or equal to the right.'''
x = 3
y = 3

x <= y

True

In [35]:
'''Assignment (=): Assigns the value on the right to the variable on the left.'''
x = 5
print(x)

5

In [38]:
'''Addition Assignment (+=): Adds the value on the right to the variable on the 
left and assigns the result to the variable.'''
x = 5
x = x + 5
x += 5
print(x)

10

In [41]:
'''Subtraction Assignment (-=): Subtracts the value on the right from the variable on the left 
and assigns the result to the variable.'''
x = 8

#x = x - 8
x -= 8  # equivalent to x = x - 8


print(x)

0

In [44]:
'''Multiplication Assignment (*=): Multiplies the variable on 
the left by the value on the right and assigns the result to the variable.'''

x = 4

#x = x * 4
x *= 4  # equivalent to x = x * 6

print(x)

16

In [46]:
'''Division Assignment (/=): Divides the variable on the left by the value on the right 
and assigns the result to the variable.'''
x = 10
#x = x /10
x /= 10  # equivalent to x = x / 2

print(x)

1.0

# Logical Operators

In [2]:
'''Logical AND (and): Returns True if both operands are True.'''

result = (5 > 0) and (12 > 15)  # result is True

print(result)

False

In [4]:
'''Logical OR (or): Returns True if at least one of the operands is True.'''

result = (5 > 15) or (17 > 20)  # result is True
#         True    or True

print(result)

False

In [6]:
'''Logical NOT (not): Returns the opposite of the operand's truth value.'''


result = not(-1 < 0)  # result is True


print(result)

False

# Identity Operators

In [8]:
'''is: Returns True if both operands refer to the same object.'''

x = 'Sunil'
y = 'Rajesh'

result1 = x is y  # result1 is False (x and y are different objects)

print(result1)

False

In [10]:
'''is not: Returns True if both operands do not refer to the same object.'''

x = 'Sunil'
y = 'Sunil'

result1 = x is not y  # result1 is False (x and y are different objects)

print(result1)

False

# Membership Operators

In [13]:
'''in: Returns True if the value is found in the sequence.'''

x = "this is python class"


"this1" in x

False

In [20]:
list1 = ["a","b","c"]

"a" in list1

True

In [19]:
'''not in: Returns True if the value is not found in the sequence.'''
x = "this is python class"


"class" not in x

False