In [3]:
'''IF Else'''

age = 1

if age <=2:
    print("infant")
else:
    print("Not Infant")

infant

In [6]:
'''If Else'''

age = 18

'''inf <=2
child<=12
adult>12
'''

if age<=2:
    print("infant")
elif age<=12:
    print("Child")
else:
    print("Adult")

Adult

In [10]:
Stall_1 = 'banana'

Stall_2 = 'banana'




if Stall_1 == "pineapple":
    print("go home with pineapple Stall_1")
elif Stall_2 == "pineapple":
    print("go home with pineapple Stall_2")

else:
    print("pineapple Not Found")

pineapple Not Found

In [14]:
'''Nested If'''

Stall_1 = 'pineapple'
Stall_1_clean = "Yes"
price = 130

if Stall_1 == "pineapple":
    if Stall_1_clean == "Yes":
        if price <= 140:
            print("Go home with pineapple : Stall_1")
        else:
            print("Price exceeds limit")
    else:
        print("pineapple Found but Stall not clean")
else:
    print("pineapple Not found")

Go home with pineapple : Stall_1

In [18]:
Stall_1 = 'banana'
Stall_1_clean = "Yes"

Stall_2 = "pineapple"
Stall_2_clean = "No"

Stall_3 = "pineapple"
Stall_3_clean = "No"

if Stall_1 == "pineapple" and Stall_1_clean == "Yes":
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes":
    print("Go home with pineapple from Stall_2")
elif Stall_3 == "pineapple" and Stall_3_clean == "Yes":
    print("Go home with pineapple from Stall_3")
else:
    print("No stall found has pineapple")

No stall found has pineapple

In [ ]:
# Stall 1
Stall_1 = 'banana'
Stall_1_clean = "NO"
price_1 = 150

# Stall 2
Stall_2 = 'pineapple'
Stall_2_clean = "Yes"
price_2 = 130

if Stall_1 == "pineapple" and Stall_1_clean == "Yes" and price_1 <= 140:
    print("Go home with pineapple from Stall_1")
elif Stall_2 == "pineapple" and Stall_2_clean == "Yes" and price_2 <= 140:
    print("Go home with pineapple from Stall_2")
else:
    print("Pineapple not found or conditions not met for any stall")

In [21]:
'''For Loops'''

fruits = ["apple", "banana", "cherry","kiwi"]
numbers1 = [1,2,3,4,5,6,7,8]

for i in numbers1:
    print(i)

1
2
3
4
5
6
7
8

In [23]:
range1 = range(0,5)

for x in range1:
  print(x)

0
1
2
3
4

In [24]:
name = "ashok"

for i in name:
    print(i)

a
s
h
o
k

In [25]:
'''While Loops'''

i = 1

while i<6:
    print(i)
    i = i+1

1
2
3
4
5

In [26]:
'''Nested Loop'''

adj = ["Red", "Yellow", "LightGreen"]
fruits = ["Apple", "Banana", "Grapes"]

for i in adj:
    for j in fruits:
        print(i,j)

Red Apple
Red Banana
Red Grapes
Yellow Apple
Yellow Banana
Yellow Grapes
LightGreen Apple
LightGreen Banana
LightGreen Grapes

In [28]:
firstList = [3, 2, 1]
secondList = [1, 2, 3]

for i in firstList:
    for j in secondList:
        if i == j:
            print(i,j)

3 3
2 2
1 1

In [12]:

'''print below pattern'''
'''
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6    
'''

'\n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n1 2 3 4 5 6 7 8 9 \n'

In [35]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [39]:
for i in range(1,7):
    for j in range(1,7):
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [77]:
'''
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * *    '''

'\n* * * * * * \n* * * * * * \n* * * * * * \n* * * * * * \n* * * * * * \n* * * * * *    '

In [41]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [78]:
for i in range(1,7):
    for j in range(1,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [68]:
'''
* 
* * 
* * * 
* * * * 
* * * * *    
'''

'\n* \n* * \n* * * \n* * * *   \n'

In [79]:
'''Nested Loop'''
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
for j in range(1,2):
    print("*",end=" ")
print()

for j in range(1,3):
    print("*",end=" ")
print()


for j in range(1,4):
    print("*",end=" ")
print()
for j in range(1,5):
    print("*",end=" ")
print()
for j in range(1,6):
    print("*",end=" ")
print()

*
* *
* * *
* * * *
* * * * *

In [12]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [86]:
for i in range(1,7):
    for j in range(1,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
'''
* * * * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* '''

'\n* * * * * * * * * \n* * * * * * * * \n* * * * * * * \n* * * * * * \n* * * * * \n* * * * \n* * * \n* * \n* '

In [87]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [88]:
for j in range(1,7):
    print("*",end=" ")
print()
for j in range(1,6):
    print("*",end=" ")
print()
for j in range(1,5):
    print("*",end=" ")
print()

for j in range(1,4):
    print("*",end=" ")
print()
for j in range(1,3):
    print("*",end=" ")
print()
for j in range(1,2):
    print("*",end=" ")
print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
for i in range(1,7):
    for j in range(i,7):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
'''break Statement'''
''' break statement immediately terminates the loop'''

for i in range(6):
    if i ==3:
        break
    print(i)

0
1
2

In [2]:
'''Continue'''
'''continue statement skips and jump to the rest iteration of the loop '''

for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print(i,end=" ")
    print()

In [ ]:
# For Stall_1
Stall_1 = 'pineapple'
Stall_1_clean = "Yes"
price = 150

# For Stall_2
Stall_2 = 'pineapple'
Stall_2_clean = "Yes"
price = 150


# Check if Stall_1 has pineapple
if Stall_1 == "pineapple":
    # Check if Stall_1 is clean
    if Stall_1_clean == "Yes":
        # Check if price is within limit
        if price <= 140:
            print("Go home with pineapple : Stall_1")
        else:
            print("Price exceeds limit Stall_1")
    else:
        print("Pineapple found but Stall not clean Stall_1")

elif Stall_2 == "pineapple":
    if Stall_2_clean == "Yes":
        if price <= 140:
            print("Go home with pineapple : Stall_2")
        else:
            print("Price exceeds limit Stall_2")
    else:
        print("Pineapple found but Stall not clean Stall_2")
else:
    print("Pineapple Not found Stall_2")