In [2]:
'Creating List'

'''Method 01'''
abc = ["apple", "banana", "cherry", "orange"]

abc

['apple', 'banana', 'cherry', 'orange']

In [1]:
'''Method 02'''
abc = list(("apple", "banana", "cherry", "orange"))

abc

['apple', 'banana', 'cherry', 'orange']

In [13]:

sliced_list = abc[1:3]
print(sliced_list)

['banana', 'cherry']

In [14]:
sliced_list = abc[:3]
print(sliced_list)

['apple', 'banana', 'cherry']

In [ ]:
'''Using -ve index'''

In [ ]:
'''
abc = list(("apple", "banana", "cherry", "orange"))
               -4       -3        -2       -1
'''

In [12]:
sliced_list = abc[-3:]
print(sliced_list)

['banana', 'cherry', 'orange']

In [11]:
sliced_list = abc[:-1]
print(sliced_list)

['apple', 'banana', 'cherry']

In [8]:
'''Reversed'''

reversed_list = abc[::-1]
print(reversed_list)

['orange', 'cherry', 'banana', 'apple']

In [15]:
'''Iterating over list '''

for x in abc:
    print(x)

apple
banana
cherry
orange

In [ ]:
'''len Of List'''
len(abc)

In [ ]:
'''Check if Item Exists'''

if "apple" in abc:
    print("Yes, apple is in the fruits list")

In [16]:
'''Changing the item'''

abc[1] = "blackcurrant"
print(abc)

['apple', 'blackcurrant', 'cherry', 'orange']

# Adding an Item

In [ ]:
'''To add an item at the Last index'''
abc.append("orange")

In [ ]:
'''To add an item at the specified index'''
abc.insert(1, "orange")

# Remove

In [ ]:
'''To removes the specified item:'''
abc.remove("banana")

In [ ]:
abc.pop("banana")

In [ ]:
'''To removes the Last item:'''
abc.pop()

In [ ]:
'''To removes by Index'''

del abc[0]

In [ ]:
'''Clear'''
'''To empty the list:'''
abc.clear()

In [ ]:
'''Delete'''
'''To delete the Data Completely'''
del abc

# Copy

In [ ]:
mylist = abc.copy()
print(mylist)

In [ ]:
mylist = abc.list()
print(mylist)

# Join

In [19]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [20]:
'''Method 01
by + operator'''

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
'''Method 02
by using append'''
for x in list2:
    list1.append(x)

print(list1)

In [ ]:
'''Method 03
by using extend'''

list1.extend(list2)
print(list1)

In [37]:
'''Number of elements in dataset'''
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3,3]

print(list1.count("a"))  # Output: 1
print(list2.count(3))    # Output: 1

1
2

In [32]:
'''Index of the first element with the specified value'''
list1.index("c")

0

In [38]:
'''Reverses the order'''
list2.reverse()
list2

[3, 3, 2, 1]

['c', 'b', 'a']

In [44]:
list2.sort(reverse=True)
list2

[3, 3, 2, 1]

In [3]:
sorted(list2,reverse=True)

NameError: name 'list2' is not defined

In [52]:
'''Iteration over List'''

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [58]:
'''Using List Comprehension'''
newlist = [x for x in fruits]

newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [59]:
'''Loo'''
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlistWithA = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'apple', 'banana', 'mango']

In [63]:
[x for x in fruits if "a" in x]

['apple', 'banana', 'mango']

In [76]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
newLIST = []

for x in numbers:
    if x <3 or i >5:
        newLIST.append(i)
newLIST

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [ ]:
# Example: Filtering numbers less than 2 or greater 5
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = [x for x in numbers if x <= 3 or x > 5]
print(filtered_numbers)  # Output: [1, 2, 5, 6, 7, 8, 9, 10]

In [78]:
# Using list comprehension to create a new list of squared of each Number
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_even_numbers = [x**2 for x in original_list]

print(squared_even_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
'''convert list to dict'''

abc = ["apple", "banana", "cherry", "orange"]
original_list = [1, 2, 3, 4]

axx = dict(zip(abc,original_list))

axx