In [6]:
'''Built-in Functions'''

print("HI") 
print(len("Raejsh"))
print(range(1,10))

HI
6
range(1, 10)

In [8]:
'User-defined Functions:'
'No Parameters'
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [10]:
'''With Simple Parameters or Arguments'''
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Sunil", "Chavan")

Sunil Chavan

In [13]:
'Arbitrary Arguments, *args'
def my_function(*kids):
    print("The youngest child is " + kids[1])
my_function("Amol", "Rajesh", "Sunil")

The youngest child is Rajesh

In [14]:
'''Keyword Arguments:-'''
'You can also send arguments with the “key = value” syntax.'
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Raejsh", child2 = "SUnil", child3 = "Savita")

The youngest child is Savita

In [1]:
'''Arbitrary Keyword Arguments, **kwargs'''
'''
When programmers don’t know the Exact No. of Arguments in “Key=Value” Syntax 
Pass ** before the parameter name
The function will receive a dictionary of arguments

'''

def my_function(**kid):
    print("The youngest child is " + kid["child2"])

my_function(child1 = "Raejsh", child2 = "SUnil", child3 = "Savita")

The youngest child is SUnil

In [19]:
'Default Parameter Value'
'''If we call the function without argument, it uses the default value, 
The following example shows how to use a default parameter value.'''

def my_function(country="India"):
    print("My COuntry is:  " + country)

my_function()
my_function("China")

My COuntry is:  India
My COuntry is:  China

In [22]:
'''Return Values'''
'To let a function return a value, use the return statement.'

def my_function(x):
    return 5*x

print(my_function(5))
print(my_function(3))

25
15

In [26]:
def my_function():
    pass

my_function()

# Lambda

In [27]:
'Simple FUnction'
def x(a):
    return a + 10
    
result = x(5)
print(result)

15

In [34]:
'''Lambda(with only one argument)'''
a = lambda a: a + 10

print(a(5))

15

In [35]:
'''Simple Function with multiple 
argument and Expression'''

def multiply_and_add(x, y):
    product = x * y
    summation = x + y
    return product, summation

result = multiply_and_add(3, 5)
print(result)

(15, 8)

In [36]:
'''Lambda with multiple 
argument and Expression'''
multiply_and_add = lambda x, y: (x * y, x + y)

result = multiply_and_add(3, 5)
print(result)

(15, 8)

In [37]:
'''Use of Lambda function in 
inside another function.''' 
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

22

# Higher-Order Functions

In [39]:
# Example 1: Filtering even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10]

In [40]:
# Example 2: Squaring each number in a list
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [42]:
from functools import reduce

# Example 3: Calculating the product of all numbers in a list
numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)
print(product)

120

# Recursive Function

In [44]:
'''Print Factorial of a Number using Recursive Function'''
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(10)

3628800

# Decorators

In [83]:
def my_decorator(func):
    def wrapper():
        print("Before the function is called.")
        func()
        print("Before the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Before the function is called.
Hello!
Before the function is called.

# Generators Function

In [82]:
'''Create a Fucntion which will print 
values until 10 using Generators'''
def count_up_to(i,n):
    for i in range(n):
        yield i

gen = count_up_to(i=1, n=10)

print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3

In [74]:
for i in gen:
    print(i)

In [3]:
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        print("Object initialized with x =", x, "and y =", y)

# Creating an instance of MyClass
obj = MyClass(10, 20)

Object initialized with x = 10 and y = 20

In [2]:
'''Instance Method'''

class MyClass:
    def __init__(self, x):
        self.x = x
    def instance_method(self):
        return self.x * 2

obj = MyClass(5)
print(obj.instance_method())

10

In [3]:
'''Class Method'''
class MyClass:
    class_variable = 10

    def __init__(self, x):
        self.x = x

    @classmethod
    def class_method(cls):
        return cls.class_variable * 2

print(MyClass.class_method())

20