In [5]:
import pandas as pd

df = pd.read_csv(r"D:\MLProjects\ZDatasets\NLP\IMDB 50k\IMDB Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [9]:
import re
def remove_html_tags(Text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',Text)

In [11]:
abc = """<p>This is another paragraph with <strong>bold text</strong> and <em>italic text</em>.</p><ul> <li>Unordered list item 1</li></ul>"""

remove_html_tags(abc)

'This is another paragraph with bold text and italic text. Unordered list item 1'