In [1]:

import pandas as pd
import re
# Ensure that the path is properly formatted
file_path = r"D:\\MLProjects\\ZDatasets\\IMDB\\train.csv"

# Read the CSV file into a pandas DataFrame
temp_df = pd.read_csv(file_path)

# Now you can work with the DataFrame 'df'
df = temp_df.iloc[:5000]
df

                                                   text sentiment
0     Now, I won't deny that when I purchased this o...       neg
1     The saddest thing about this "tribute" is that...       neg
2     Last night I decided to watch the prequel or s...       neg
3     I have to admit that i liked the first half of...       neg
4     I was not impressed about this film especially...       neg
...                                                 ...       ...
4995  My god this movie is awfully boring. I am a bi...       neg
4996  This could have been a rather entertaining fil...       neg
4997  this film was totally not what i expected. <br...       neg
4998  I'm getting a little tired of people misusing ...       neg
4999  I really enjoyed this movie. I am a single dad...       pos

[5000 rows x 2 columns]

In [2]:
df['sentiment'].value_counts()

neg    2531
pos    2469
Name: sentiment, dtype: int64

In [3]:
df.duplicated().sum()

3

In [4]:
df.drop_duplicates(inplace=True)

C:\Users\SHIVRAJ SHINDE\AppData\Local\Temp\ipykernel_14212\3617111529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [5]:
df

                                                   text sentiment
0     Now, I won't deny that when I purchased this o...       neg
1     The saddest thing about this "tribute" is that...       neg
2     Last night I decided to watch the prequel or s...       neg
3     I have to admit that i liked the first half of...       neg
4     I was not impressed about this film especially...       neg
...                                                 ...       ...
4995  My god this movie is awfully boring. I am a bi...       neg
4996  This could have been a rather entertaining fil...       neg
4997  this film was totally not what i expected. <br...       neg
4998  I'm getting a little tired of people misusing ...       neg
4999  I really enjoyed this movie. I am a single dad...       pos

[4997 rows x 2 columns]

In [6]:
df.duplicated().sum()

0

In [7]:
# Remove tags

def remove_tags(raw_text):
    cleaned_text = re.sub(re.compile('<.*?>'),'',raw_text)
    return cleaned_text

In [8]:
df['text'] = df['text'].apply(remove_tags)
df

C:\Users\SHIVRAJ SHINDE\AppData\Local\Temp\ipykernel_14212\2231308893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(remove_tags)

                                                   text sentiment
0     Now, I won't deny that when I purchased this o...       neg
1     The saddest thing about this "tribute" is that...       neg
2     Last night I decided to watch the prequel or s...       neg
3     I have to admit that i liked the first half of...       neg
4     I was not impressed about this film especially...       neg
...                                                 ...       ...
4995  My god this movie is awfully boring. I am a bi...       neg
4996  This could have been a rather entertaining fil...       neg
4997  this film was totally not what i expected. if ...       neg
4998  I'm getting a little tired of people misusing ...       neg
4999  I really enjoyed this movie. I am a single dad...       pos

[4997 rows x 2 columns]

In [9]:
def lowerCase(rawText):
    lowertext = rawText.lower()
    return lowertext

df['text'] = df['text'].apply(lowerCase)
df

C:\Users\SHIVRAJ SHINDE\AppData\Local\Temp\ipykernel_14212\2503905265.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(lowerCase)

                                                   text sentiment
0     now, i won't deny that when i purchased this o...       neg
1     the saddest thing about this "tribute" is that...       neg
2     last night i decided to watch the prequel or s...       neg
3     i have to admit that i liked the first half of...       neg
4     i was not impressed about this film especially...       neg
...                                                 ...       ...
4995  my god this movie is awfully boring. i am a bi...       neg
4996  this could have been a rather entertaining fil...       neg
4997  this film was totally not what i expected. if ...       neg
4998  i'm getting a little tired of people misusing ...       neg
4999  i really enjoyed this movie. i am a single dad...       pos

[4997 rows x 2 columns]

In [10]:
# remove stopwords
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

def remove_stopwords_from_review(review):
    sw_list = stopwords.words('english')
    cleaned_review = " ".join(item for item in review.split() if item not in sw_list)
    return cleaned_review

df['text'] = df['text'].apply(remove_stopwords_from_review)

[nltk_data] Downloading package stopwords to C:\Users\SHIVRAJ
[nltk_data]     SHINDE\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
C:\Users\SHIVRAJ SHINDE\AppData\Local\Temp\ipykernel_14212\3198091130.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(remove_stopwords_from_review)

In [11]:
df

                                                   text sentiment
0     now, deny purchased ebay, high expectations. i...       neg
1     saddest thing "tribute" almost singers (includ...       neg
2     last night decided watch prequel shall say cal...       neg
3     admit liked first half sleepers. looked good, ...       neg
4     impressed film especially fact went cinema fam...       neg
...                                                 ...       ...
4995  god movie awfully boring. big fan gina gershon...       neg
4996  could rather entertaining film, instead ranks ...       neg
4997  film totally expected. film called something e...       neg
4998  i'm getting little tired people misusing god's...       neg
4999  really enjoyed movie. single dad 17 year old d...       pos

[4997 rows x 2 columns]

In [12]:
import gensim
from nltk import sent_tokenize
from gensim.utils import simple_preprocess

In [13]:
story = []
for doc in df['text']:
    raw_sent = sent_tokenize(doc)
    for sent in raw_sent:
        story.append(simple_preprocess(sent))

In [14]:
model = gensim.models.Word2Vec(window=10,min_count=2)

In [15]:
model.build_vocab(story)

In [16]:
model.train(story,total_examples=model.corpus_count,epochs=model.epochs)

(2891188, 3085470)

In [17]:
len(model.wv.index_to_key)

22939

In [18]:
import numpy as np
def document_vector(doc):
    doc= [word for word in doc.split() if word in model.wv.index_to_key]
    return np.mean(model.wv[doc],axis=0)

In [19]:

document_vector(df['text'].values[0])

array([-2.03665644e-01,  3.48784685e-01,  5.52436113e-02, -7.56799728e-02,
        6.52807131e-02, -9.65048015e-01,  2.35729124e-02,  1.06392920e+00,
       -4.49779809e-01, -1.26992822e-01,  8.09599459e-02, -6.00581765e-01,
       -2.72485822e-01,  4.07085031e-01,  1.46970544e-02, -2.25348160e-01,
        1.17210105e-01, -4.35769260e-01, -4.07906137e-02, -1.02299500e+00,
        2.50707924e-01,  2.26938874e-01,  4.57627147e-01, -2.28128910e-01,
       -1.55124128e-01,  9.79633555e-02, -4.02057230e-01, -1.52328223e-01,
       -3.53037238e-01,  1.13994598e-01,  5.69276929e-01,  1.81828856e-01,
        2.12304622e-01, -5.24001122e-01, -2.52566822e-02,  5.58026493e-01,
        6.57830462e-02, -5.61023176e-01, -4.40629780e-01, -7.95544028e-01,
        1.65489137e-01, -4.69059050e-01, -2.78588831e-01,  1.09992586e-01,
        3.51214796e-01, -2.51355946e-01, -2.66959816e-01, -5.82524401e-04,
        1.61384583e-01,  3.70288566e-02,  3.00015032e-01, -1.40752673e-01,
       -2.25674227e-01, -5.78352585e-02, -4.49963272e-01,  3.44515920e-01,
        2.37658933e-01,  1.22415917e-02, -3.91001254e-01,  1.51269674e-01,
        4.44837585e-02,  1.58689350e-01, -6.96068406e-02,  2.07565874e-01,
       -4.52051073e-01,  5.60417831e-01,  1.46108419e-01,  2.30403572e-01,
       -4.98422235e-01,  4.88895804e-01, -3.76659244e-01,  1.10683799e-01,
        5.64299166e-01, -2.33228251e-01,  3.70256990e-01,  2.18881279e-01,
        1.70852929e-01, -8.07711780e-02, -3.04374754e-01,  2.57226765e-01,
       -4.57773209e-01, -7.98929110e-03, -4.71693456e-01,  5.36185682e-01,
       -6.59676492e-02, -5.30167520e-02,  2.07954049e-01,  3.51586908e-01,
        5.95798373e-01,  8.74189213e-02,  5.52519500e-01,  1.49266601e-01,
        4.03328007e-03,  7.86337256e-03,  6.75094306e-01,  4.17037785e-01,
        3.37853611e-01, -4.23381954e-01,  2.07606524e-01, -1.31169215e-01],
      dtype=float32)

In [20]:
from tqdm import tqdm

In [21]:
X = []
for doc in tqdm(df['text'].values):
    X.append(document_vector(doc))

100%|██████████████████████████████████████████████████████████████████████████████| 4997/4997 [02:00<00:00, 41.30it/s]

In [24]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(df['sentiment'])

In [25]:
y

array([0, 0, 0, ..., 0, 0, 1])

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [31]:

rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.719